*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.main_box{
    background-image: url("/images/bg.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu{
    position: absolute;
    background-color: rgb(0, 0, 0,0.3);
    width: 300px;
    height: 100vh;
    box-shadow: 0 0 6px black;
    left: -300px;
}

.sidebar_menu .logo{
    position: absolute;
    width: inherit;
    line-height: 60px;
    box-shadow: 0 0 4px black;
}

.sidebar_menu .logo a{
    color: red;
    position: absolute;
    left: 60px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}

.btn_two i{
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: auto;
    left: 260px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu .menu{
    position: absolute;
    width: inherit;
    top: 80px;
    
}

.sidebar_menu .menu li{
    margin-top: 15px;
    padding: 10px 20px ;
}

.sidebar_menu .menu li a{
    text-decoration: none;
    color: red;
    padding-left: 8px;
}

.social_media {
    position: absolute;
    left: 70px;
    bottom: 45px;
}

.social_media a i{
    font-size: 20px;
    color: black;
    opacity: 0.6;
    margin: 6px;
}

#check{
    display: none;
}

.btn_one i:hover{
    font-size: 35px;
}

.btn_two i:hover{
    font-size: 23px;
}

.social_media a i:hover{
    opacity: 1;
    transform: scale(1.3);
}

#check:checked ~ .sidebar_menu{
    left: 0px;
}

#check:checked~ .btn_one i{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px black;
}